.comment {
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
}

.comment > div {
  display: flex;
  flex-wrap: wrap;
}

.comment .field--name-comment-body {
  width: 100%;
}

.comment .links.inline {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

.like_dislike .like a,
.like_dislike .dislike a {
  text-indent: -10000px;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url(../assets/icons/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5em;
  position: relative;
  top: -0.5em;
}

.like_dislike .dislike a {
  background-image: url(../assets/icons/dislike.svg);
}

main .like_dislike .like,
main .like_dislike .dislike {
  border: none;
  width: auto;
}

.node .indented {
  margin-left: 4em;
}

.field--name-field-like-dislike .field__label {
  margin-bottom: 1em
}
