@media only screen and (min-width: 768px) {
  .ec-autogrid-50-50-c-50-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: clamp(var(--spacing), 2.5vw, var(--spacing-largest));
  }

  .ec-autogrid-50-50-c-50-50>*:nth-child(3n+1) {
    grid-column: 1;
    grid-row: span 2;
  }

  .ec-autogrid-50-50-c-50-50>*:nth-child(3n+2) {
    grid-column: 2;
  }

  .ec-autogrid-50-50-c-50-50>*:nth-child(3n+3) {
    grid-column: 2;
  }
}
