<!--cludooff: index-->
<div class="ecc-restricted-content">
  <p class="h3">{{ 'This area is restricted to authorised employees only. Please sign in to access this information.'|t }}</p>
  <a class="button" href="/user/login?destination={{ path('<current>') }}">
    {# svg #}
    {{ 'Sign in'|t }}
  </a>
</div>
<!--cludoon: index-->
