@media only screen and (min-width: 768px) {
  .ec-autogrid-25-25-50 {
    display: grid;
    grid-template-columns: .33fr 0.33fr 0.711fr;
    grid-gap: clamp(var(--spacing), 2.5vw, var(--spacing-largest));
  }

  .ec-autogrid-25-25-50>*:nth-child(3n+1) {
    grid-column: 1;
  }

  .ec-autogrid-25-25-50>*:nth-child(3n+2) {
    grid-column: 2;
  }

  .ec-autogrid-25-25-50>*:nth-child(3n+3) {
    grid-column: 3;
  }
}
