<div>
    <p>{{ 'This page is restricted, please sign in to see the full page.'|t }}</p>
    <div>
        <a href="/user/login?destination={{ path('<current>') }}">{{ 'Sign in'|t }}</a>
    </div>
</div>
