/* Added for https://nomensa.atlassian.net/browse/ECCI-355 */

.layout--twocol {
  display: block;
}

@media screen and (min-width: 1025px) {
  .layout--twocol {
    display: flex;
    flex-wrap: wrap;
  }
}

.layout--twocol > .layout__region > .paragraph--type--localgov-media-with-text {
  margin: var(--spacing-larger) 0 0;
}

.layout--twocol > .layout__region > .paragraph--type--localgov-media-with-text:last-child {
  margin-top: var(--spacing);
}

@media screen and (min-width: 1025px) {
  .layout--twocol > .layout__region > .paragraph--type--localgov-media-with-text:last-child {
    margin-top: var(--spacing-largest);
  }

  .layout--twocol > .layout__region > .paragraph--type--localgov-media-with-text {
    margin-top: 0px;
  }
}

.featured-news__card article,
.news-card article {
  background-color: transparent;
}

@media (min-width: 641px) {
  .news-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1em;
    margin: 0;
  }

  .news-card article .card-image,
  .news-card article .card-content {
    grid-column: 1 / span 3;
  }

  .featured-news__card .card-image {
    grid-column: 1 / span 2;
  }

  .featured-news__card article .card-content {
    grid-column: 3 / span 2;
    min-height: 240px;
  }

  .featured-news__card article .card-content {
    padding: 1.25rem 1rem;
  }

  .featured-news__card article {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .featured-news__card article .card-content {
    grid-column: 3 / span 2;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
  }
}


/* Added for https://nomensa.atlassian.net/browse/ECCI-418 */

@media screen and (max-width: 640px) {
  .layout--threecol-33-34-33 {
    display: block;
  }
}


/* Added for https://nomensa.atlassian.net/browse/ECCI-471 */
.field--name-localgov-subsites-content > .field__item:first-child {
  margin-top: 0px;
}

.field--name-localgov-subsites-content > .field__item:first-child .layout__region--first {
  margin-top: 0px;
}

.field--name-localgov-subsites-content > .field__item:first-child .layout__region--first > .paragraph--type--localgov-text > .field--name-localgov-text {
  padding-top: 0px;
}

.featured-news__card:first-of-type,
.news-card article {
  margin-bottom: var(--spacing);
}

.featured-news__card article {
  margin-bottom: 0px;
}

.field--name-localgov-subsites-content > .field__item:first-child .paragraph--type--page-section .layout--twocol > .layout__region--first {
  padding-right: 0px;
}

.field--name-localgov-subsites-content > .field__item:first-child .paragraph--type--page-section .layout--twocol > .layout__region--second {
  padding-left: 0px;
}

@media screen and (min-width: 1025px) {
  .field--name-localgov-subsites-content > .field__item:first-child {
    margin: var(--spacing-largest) clamp(var(--spacing-smallest), 2.5vw, var(--spacing-largest))
  }

  .field--name-localgov-subsites-content > .field__item:first-child .layout__region--first {
    margin: var(--spacing-larger) 0;
  }

  .field--name-localgov-subsites-content > .field__item:first-child .layout__region--first > .paragraph--type--localgov-text > .field--name-localgov-text {
    padding-top: clamp(0.75rem, 2vw, var(--spacing));
  }

  .featured-news__card article,
  .news-card article {
    margin-bottom: var(--spacing-large);
  }

  .featured-news__card:first-of-type {
    margin-bottom: var(--spacing-largest);
  }

  .field--name-localgov-subsites-content > .field__item:first-child .paragraph--type--page-section .layout--twocol > .layout__region--first {
    padding-right: calc(var(--spacing-largest) / 2);
  }

  .field--name-localgov-subsites-content > .field__item:first-child .paragraph--type--page-section .layout--twocol > .layout__region--second {
    padding-left: calc(var(--spacing-largest) / 2);
  }
}

/* Added for https://nomensa.atlassian.net/browse/ECCI-472 */
.ecc-restricted-content {
  margin-bottom: var(--spacing);
}

.news-article__content .ecc-restricted-content {
  margin-bottom: 0px;
}

.ecc-restricted-content a.button {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: calc(var(--spacing) * 1.3125);
  padding: calc(var(--spacing) / 4) calc(var(--spacing) * 1.125);
}

.ecc-restricted-content a.button:focus {
  color: black;
}

.ecc-restricted-content a.button > svg {
  width: 17px;
  height: 21px;
  margin-right: calc(var(--spacing) / 2);
}

/* Small change added for https://nomensa.atlassian.net/browse/ECCI-420 */
@media screen and (min-width: 640px) {
  .ecc-restricted-content {
    margin-bottom: 0px;
  }

  .ecc-restricted-content a.button {
    font-size: calc(var(--spacing) * 1.25);
    margin-bottom: 0px;
  }

  .ecc-restricted-content a.button > svg {
    margin-right: calc(var(--spacing) * 0.75);
  }
}

.ecc-restricted-content a.button:not(:focus) {
  background: black;
}

.ecc-restricted-content__container {
  width: 100%;
  border: 2px solid black;
  margin: calc(var(--spacing) * 2) 0;
  padding: 1.25rem;
}

@media screen and (min-width: 1025px) {
  .ecc-restricted-content__container {
    padding: calc(var(--spacing) * 2.25) calc(var(--spacing) * 5);
  }
}

/* Added for https://nomensa.atlassian.net/browse/ECCI-421 */
.ecc-restricted-content__container .content {
  font-size: calc(var(--spacing) * 1.875);
  font-family: var(--font-heading-3);
}

/* Added for https://nomensa.atlassian.net/browse/ECCI-472 */
.featured-news__card .node--view-mode-card-anonymous .card-content .node__content,
.news-card .node--view-mode-card-anonymous .card-content .node__content {
  justify-content: end;
}

.featured-news__card .card-content h3,
.news-card .card-content h3 {
  font-size: calc(var(--spacing) * 1.563);
  margin-bottom: 0px;
}

.featured-news__card article .card-content,
.news-card article .card-content {
  position: relative;
  font-size: calc(var(--spacing) * 1.125);
}

.news-card .field--type-datetime,
.featured-news__card .field--type-datetime {
  font-size: calc(var(--spacing) * 1.125);
  margin-top: calc(var(--spacing) * 0.75);
  margin-bottom: var(--spacing);
}

.featured-news__card .field--type-datetime,
.news-card .field--type-datetime {
  position: relative;
  text-align: left;
  bottom: auto;
  right: auto;
}

.featured-news__card article .card-content,
.news-card article .card-content {
  padding: calc(var(--spacing) * 1.25);
}

@media screen and (min-width: 768px) {
  .featured-news__card .field--type-datetime,
  .news-card .field--type-datetime {
    position: relative;
  }
}

/* End */

/* Added for https://nomensa.atlassian.net/browse/ECCI-481 */
.newsroom-teaser,
.featured-news__card article,
.news-card article {
  word-wrap: break-word;
}

/* End of https://nomensa.atlassian.net/browse/ECCI-481 */
