/* Added for https://nomensa.atlassian.net/browse/ECCI-355 */

.layout--twocol {
  display: block;
}

@media screen and (min-width: 1025px) {
  .layout--twocol {
    display: flex;
    flex-wrap: wrap;
  }
}

.layout--twocol > .layout__region > .paragraph--type--localgov-media-with-text {
  margin: var(--spacing-larger) 0 0;
}

.layout--twocol > .layout__region > .paragraph--type--localgov-media-with-text:last-child {
  margin-top: var(--spacing);
}

@media screen and (min-width: 1025px) {
  .layout--twocol > .layout__region > .paragraph--type--localgov-media-with-text:last-child {
    margin-top: var(--spacing-largest);
  }
}

/* Added for https://nomensa.atlassian.net/browse/ECCI-471 */
.field--name-localgov-subsites-content > .field__item:first-child {
  margin-top: 0px;
}

.field--name-localgov-subsites-content > .field__item:first-child .layout__region--first {
  margin-top: 0px;
}

.field--name-localgov-subsites-content > .field__item:first-child .layout__region--first > .paragraph--type--localgov-text > .field--name-localgov-text {
  padding-top: 0px;
}

.featured-news__card:first-of-type, .news-card article {
  margin-bottom: var(--spacing);
}

.featured-news__card article {
  margin-bottom: 0px;
}

.field--name-localgov-subsites-content > .field__item:first-child .paragraph--type--page-section .layout--twocol > .layout__region--first {
  padding-right: 0px;
}

.field--name-localgov-subsites-content > .field__item:first-child .paragraph--type--page-section .layout--twocol > .layout__region--second {
  padding-left: 0px;
}

@media screen and (min-width: 1025px) {
  .field--name-localgov-subsites-content > .field__item:first-child {
    margin: var(--spacing-largest) clamp(var(--spacing-smallest), 2.5vw, var(--spacing-largest))
  }

  .field--name-localgov-subsites-content > .field__item:first-child .layout__region--first {
    margin: var(--spacing-larger) 0;
  }

  .field--name-localgov-subsites-content > .field__item:first-child .layout__region--first > .paragraph--type--localgov-text > .field--name-localgov-text {
    padding-top: clamp(0.75rem, 2vw, var(--spacing));
  }

  .featured-news__card article, .news-card article {
    margin-bottom: var(--spacing-large);
  }

  .featured-news__card:first-of-type {
    margin-bottom: var(--spacing-largest);
  }

  .field--name-localgov-subsites-content > .field__item:first-child .paragraph--type--page-section .layout--twocol > .layout__region--first {
    padding-right: calc(var(--spacing-largest) / 2);
  }

  .field--name-localgov-subsites-content > .field__item:first-child .paragraph--type--page-section .layout--twocol > .layout__region--second {
    padding-left: calc(var(--spacing-largest) / 2);
  }
}

/* Added for https://nomensa.atlassian.net/browse/ECCI-472 */
.ecc-restricted-content a.button {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: calc(var(--spacing) * 1.25);
}

.ecc-restricted-content a.button:focus {
  color: black;
}

.ecc-restricted-content a.button > svg {
  width: 21px;
  height: 25px;
  margin-right: var(--spacing);
}

.ecc-restricted-content a.button:not(:focus) {
  background: black;
}

.ecc-restricted-content__container {
  width: 100%;
  border: 2px solid black;
  margin: calc(var(--spacing) * 2) 0;
  padding: 1.25rem;
}

@media screen and (min-width: 1025px) {
  .ecc-restricted-content__container {
    padding: calc(var(--spacing) * 2.25) calc(var(--spacing) * 5);
  }
}

/* Added for  */


.ecc-events-listing-block-view article {
  flex: 0 1 100%;
}

.ecc-events-listing-block-view article > .card-content {
  padding: 0px;
}

.ecc-events-listing-block-view article time {
  display: block;
  margin-bottom: var(--spacing);
  color: #6F6F6F;
  font-size: 0.75rem;
}

.view-localgov-events-listing .event-info h3 a,
.view-localgov-events-listing .more-link a {
  color: var(--color-link);
}

.newsroom-teaser--has-image img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

@media screen and (min-width: 640px) {
  .ecc-events-listing-block-view article {
    flex: 0 1 31%;
  }
}
